@import url("https://fonts.googleapis.com/css2?family=:wght@100;200;300;400;500;600;700;800;900&amp;display=swap");

@font-face {
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
html {
  scroll-behavior: smooth;
}
.pt-0{
  padding-top:0 !important
}
body {
  margin: 0;
  background-color: #fbefdf;
  font-family: "Poppins", sans-serif;
  color: #fbefdf;
}
.navbar-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #7c5c48;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  max-width: 40rem;
}
.navbar-menu > a {
  color: #7c5c48 !important;
}
.bg-light{
  background-color: #62432D !important;
}
.rounded{
  width:120px;
  height:120px;
  border-radius: 50%;
  background-color: #62432D;
   position:relative;
  border:17px solid #fbefdf;
  margin-bottom:10px
}
.rounded-text{
  position: absolute;
   font-size: 24px; 
   color: #fbefdf;
   font-weight: 700;
   top:40%;left:20%
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  max-width: 1500px;
  margin: auto;
}
.logo {
  width: 200px;
}
.close-icon{
    float:right;
    margin:20px;
    cursor:pointer;
}
.toggle-icon{
    width:30px;
    height:30px;
    cursor:pointer;
}
button {
  background-color: #7c5c48;
  width: 156px;
  height: 47px;
  border-radius: 8px;
  color: white;
  font-size: 17px;
  font-weight:500;
  letter-spacing: 1px;
  outline: 0;
  cursor: pointer;
  border: none;
}
a {
  text-decoration: none;
}
.faq-container{
   padding: 40px;
   color:#7C5C48
}
.social-media{
    width:30px;
    height:30px;
}
.open-faq{
    width:20px;
    height:20px;
    cursor: pointer;
}
.more-text{
    font-size: 15px;
    font-weight: 500
}
.close-faq{
    width:20px;
    height:20px;
    cursor: pointer;
    display:none;
}
.faq-text{
    font-weight: 200;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}
.quantity-dropdown{
    background-color: #fbefdf;
    color: #7c5c48;
}
.proxy-type{
    font-weight: bold;
    margin:20px 0px;
    font-size:22px
}
.sub-text{
    font-size:22px;
    margin-top:10px
}
.ptb-40-80{
    padding-top:40px;
    padding-bottom:80px
}
.paragraph{
    color:#7c5c48;
    font-size: 15px;
    font-weight:600;
    max-width:600px;
}
.feature-middle-box{
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
}
.transparent-button{
    border:2px solid #7c5c48;
    color:#7c5c48;
    background-color: transparent;
    margin-top: 10px;
}
.w-ful{
    width:100px
}
.w-200{
  width:200px
}
.active-text{
  font-size: 20px !important;
  margin-top: 20px;
  text-align: center;
}
.d-flex-j-between {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.flex-button-container{
max-width: 350px;
margin-bottom: 30px;
margin-top:20px;
display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main-text {
  font-size: 45px;
  font-weight: 700;
  line-height: 68px;
  color: #7c5c48;
  flex: 1;
}
.sidenav>ul{
  margin:80px 0px;
}
.home-banner-left{
  flex:1;
  min-width: 300px
}
.home-banner {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  /* min-width: 400px; */
  align-items: center;
  max-width: 1500px;
  margin: auto;
  padding: 40px 80px;
}
.my-30 {
  margin-top: 30px;
  margin-bottom: 40px;
}
.main-img {
  flex: 1;
  max-width: 580px;
  min-width: 450px;
  margin:auto;
  height: 458px;
}

.main-title {
  font-size: 44px;
  text-align: center;
  font-weight: bold;
  line-height: 35px
}
.proxies-title>span{
  font-size:20px
}

.dark-section {
  background-color: #7c5c48;
  background-image: url(/assets/images/flower.svg);
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fbefdf;
  padding:40px 20px 80px 20px;
}
.text-dark{
  color:#7C5C48
}

.feature-box {
  background-color: #fbefdf;
  padding: 40px;
  color: #7c5c48;
  max-width: 350px;
  min-width: 200px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
  margin: 40px;
}
.feature-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}
.row-padding{
  padding:20px 30px !important;
  width:70%;
}
.feature-subTitle {
  line-height: 30px;
  font-size: 15px;
}
.pl-30{
  padding-left: 30px
}
.discord{
  font-size:21px;
  font-weight:700
}

.w-70{
width: 70%
}
.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.feature-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.proxies-box {
  background: #634532;
  color: #fbefdf;
  max-width: 380px;
  min-width: 280px;
  padding: 30px 30px 30px 50px;
  border-bottom-left-radius: 200px;
  border-top-right-radius: 200px;
  min-height: 300px;
  background-image: url(/assets/images/flower.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin: 20px 40px;
}
.light-bg {
  background-color: #f5e5d1;
  color: #7c5c48;
}
.proxies-title {
  font-size: 30px;
  color: #fbefdf;
  line-height: 27px;
  font-weight: 700;
}

.dark-text{
  color: #7c5c48;
}
select {
  outline: 0;
  background-color: #573822;
  border: 0;
  height: 40px;
  border-bottom-right-radius: 20px;
  color: #fbefdf;
  width: 45px;
  padding: 0 4px;
  margin: 1px;
}
.custom-dropdown {
  background-color: #fbefdf;
  color: #7c5c48;
  padding: 0 0 0 10px;
  font-weight: bold;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  margin-top:10px;
  font-size: 10px ;
  height:32px
}
.gernerate-btn{
  background-color: #fbefdf;
  color: #7c5c48;
  height:32px;
  font-weight: bold;
  width: 90px;
  display: grid;
  place-items:center;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  margin-top:10px;
  font-size: 10px ;
}

.quantity-box {
  background-color: #fbefdf;
  color: #7c5c48;
  padding: 0 0 0 10px;
  font-weight: bold;
  min-width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
}
.custom-dropdown >select{
  height:30px;
  width:100%;
  padding-left: 1px;
  padding-right:1px
}
.toggle-navbar {
  visibility: hidden;
  display: none;
}
.w-90{
  width:90px !important
}
.third{
  height:220px;
  width:250px;
  padding:30px !important;
  margin:20px 0 0 0 !important;
}
.second{
  min-width:300px;
  padding:30px 0 0 0 !important;
}
.dark-short-box {
  background-color: #7c5c48;
  color: #fbefdf;
  padding: 0 0 0 10px;
  font-weight: bold;
  min-width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  margin-top: 10px;
  padding: 0;
  font-weight: bold;
}
.proxies-list > li {
  font-size: 15px;
  font-weight: 500;
}
.quantity-box-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  max-width: 250px;
  margin-top: 20px;
}
.dropdown-section{
  display: flex;
  justify-content: space-between;
  text-align: center;
  max-width: 200px;
  flex-wrap: nowrap;
  margin-top: 20px;
}
.proxies-box-button {
  background-color: #fbefdf;
  color: #7c5c48;
  width: 150px;
  height: 50px;
  float: right;
  margin: 10px 0px;
  border-bottom-left-radius: 25px;
  font-size: 20px;
  border-top-right-radius: 25px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}
.light {
  background-color: #7c5c48;
  color: #fbefdf;
}
footer {
  background-color: #7c5c48;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px;
  color: #fbefdf;
  font-size: 18px;
  font-weight: 600;
}
#more1,
#more2 {
  display: none;
}
.w-220{
  width:220px;
}
.plr-20{
  padding-left: 20px !important;
  padding-right: 20px !important
}

.dark-container{
background-color: #573822;
padding:30px;
display: flex;
flex-direction: column;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
min-height: 260px
}


@media screen and (max-width: 1300px) {

.data-col-container{
    flex-direction: row !important
}
.feature-flex-container:nth-child(2){
    order:3
}

}
.bg-url{
    background-image:url(assets/images/flower.svg);
    background-position:center;
    background-repeat:no-repeat;
}


@media screen and (max-width: 1600px) {

  .feature-box {
  padding: 20px 20px 20px 40px;
  max-width: 280px;
  min-width: 150px;
  }
  .feature-subTitle{
      line-height:20px
  }
}
  .feature-flex-container:nth-child(2) > .feature-box {
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 100px !important;
    border-top-right-radius: 100px !important;
  }

@media screen and (max-width: 558px) {
  .home-text {
    min-width: unset;
  }
  .quantity-box-container {
      flex-wrap:wrap
  }
}

@media screen and (max-width:469px) {
  .d-flex-no-wrap{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100% !important;
  }
  .data-second-container{
    width: 85%;
  }
}
@media screen and (max-width: 1021px) {
  .home-text {
    min-width: unset;
  }
  .navbar-menu {
    display: none;
  }
  .toggle-navbar {
    visibility: visible;
    display: block;
    transition: 0.1s;
  }
  .home-banner,
  header {
    padding: 20px 40px;
  }
}


.question-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto;
  border: 2px solid #7c5c48;
  padding: 20px;
  font-size: 22px;
  font-weight: 600;
  max-width: 700px;
}

.sidenav {
  position: fixed;
  top: 0;
  right: 0;
  background: #7c5c48;
  width: 0px;
  padding: 30px 0px;
  height: 100vh;
  z-index: 5;
  overflow-x: hidden;
  transition: 0.5s;
}
.sidenav li {
  margin-top: 50px;
  text-align: center;
  border-bottom: 1px solid #836451;
}
.sidenav a {
  color: #f5e5d1;
}

.light-button {
  background-color: #fbefdf;
  width: 115px;
  color: #573822;
  height: 30px;
  font-size: 14px;
  margin-top: 10px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
}
.proxies-list-container{
    background-color: #62432D;
    margin-top: 20px;
    padding:15px;
    position: absolute;
    top:0;
    left:0;
    right:0;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
}
.scroll-container{
    background-color: #492e1b;
    border-radius:10px;
    font-size:12px;
    font-weight:500;
    overflow: hidden;
    overflow-y:auto;
    height:180px;
    padding-left: 15px
}
.proxy-package-item {
  background-color: #573822;
  padding: 10px 20px;
  text-align: center;
  border-radius: 15px;
  display: flex;
  margin-left:auto;
  margin-right:auto;
  margin-top: 20px;
  line-height:15px;
  flex-direction: column;
  cursor: pointer;
  border:1px solid #573822;
}
.parent{
  position:relative;
  height:240px;
}
.m-0{
  margin: 0 !important
}
.data-container {
  padding:30px 0 20px 0px;
  background-color: #492e1b;
  border-radius: 15px;
  color: #fbefdf;
  position: relative;
  max-width: 380px;
  line-height: 24px;
  font-weight: 600;
  font-size:16px;
  margin:20px 40px;
  /* min-width: 340px; */
}
.mr-5{
  margin-right:5px
}

.flower-container{
     padding: 20px;
  background-color: #573822;
  color: #fbefdf;
  position: relative;
  border-radius: 15px;
  background-image: url(/assets/images/flower.svg);
  background-position: center;
  background-repeat: no-repeat;
  max-width: 380px;
  line-height: 22px;
  margin:20px 40px;
}
.center-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.proxy-package-container{
   display: flex;
   flex-wrap: wrap;
   justify-content:space-between;
   padding:20px
}
.proxy-package-item>span:nth-child(1) {
    font-weight:700
}
.proxy-package-item>span:nth-child(2) {
    font-size:12px
}
.proxy-package-item>span:nth-child(3) {
        font-size:10px;
        color:grey

}
.data-container-title{
    font-weight: 700;
    font-size: 26px;
}
.user-name{
  font-weight: 700;
  font-size: 18px;
  margin-top:10px;
  text-align: center;
}
.list li{
 margin: 0;
 padding: 0
}
.d-flex-no-wrap{
    display:flex;
    flex-wrap:no-wrap;
}

.button-text{
    width:90px;
    font-size:12px;
    height:40px
    ;margin-top:10px
}
.font-12{
    font-size:12px
}

.mt-0{
    margin-top:0 !important
}
.mt-20{
    margin-top:20px
}
.mt-10{
    margin-top:10px;
}
.scroll-coupons{
    height:25rem;
    overflow-y:auto;
    padding-right:5px
}

.ml-auto{
    margin-left:auto
}

.mb-10{
    margin-bottom:10px
}

.pt-30{
  padding-top: 30px
}
.mtb-5-20{
    margin:5px 0 20px 0
}
.font-20{
    font-size:20px
}
.pl-20{
    padding-left:20px
}
.pt-20{
    padding:20px 0 0 0;
}
.mtr-30 {
  margin-top: 30px;
  margin-right:30px
}
.proxy-package-item:hover{
  border-left:1px solid #FBEFDF;
  border-right:1px solid #FBEFDF;
  border-top:1px solid #FBEFDF;
 background:  linear-gradient(180deg, #7C5C48 0%, #573822 100%)

}
.data-second-container{
    background-color: #492e1b;
    color:#FBEFDF;
    font-weight: bold;
    padding-right:15px;
    padding-left:10px;
    min-width: 105px;
    border-radius:15px;
}
.purchase-section{
    height:280px;
    overflow-y:auto
}
.purchase-item{
    display: flex;
    flex-direction: column;
    line-height: 15px;
    margin-top: 15px
}
.purchase-item>span:nth-child(1){
    font-size:16px;
}
.purchase-item>span:nth-child(2){
    font-size:12px;
}
.purchase-item>span:nth-child(3){
    font-size:10px;
    color:grey
}
input{
    outline:0;
    border:0;
    background:#573822;
    width:100%;
    height:38px;
    color:#FBEFDF
}
.sub-title{
    font-weight:500;
    font-size:18px;
    margin-bottom:20px;
}
.image-container{
    display:flex;
    margin:auto;
    padding:10px;
}
.row{
    display:flex;
    flex-direction:column;
    padding:10px 0
}
.row >div{
    font-weight:500;
    margin-bottom:10px
}
.dropdown-fluid{
    width:100%;
    margin-top: 20px;
    border-bottom-right-radius:0
}
.data-center{
    width:100%;
    height:40px;
    margin:15px 0;
    font-size: 18px;

}
.short-container{
  width:80%;
  margin:20px 0;
}
.w-full{
  width:100%
}
.quantity{
    width:80px;
    height: 32px;
    float:right;
    font-size: 1rem;
    margin-top: 10px;
    display: grid;
    place-items:center;
    color:#7c5c48;
    border-top-left-radius:20px;
    border-bottom-right-radius:20px;
    border-top-right-radius:0;
    border-bottom-left-radius:0;
    background-color: #FBEFDF
}
.data-col-container{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content:center;

}
.image-user{
    width:100px;
    height:100px;
    border:10px solid #FBEFDF;
    border-radius:50%;
    margin:auto;
}
.w-120{
width:120px
}
.border-0{
    border-radius:0
}
.border-15{
    border-radius:15px

}

.mb-50{
  margin-bottom: 50px;
}
.d-flex-j-center{
    display:flex;
    justify-content:center;
    flex-direction:column;
}
.border-right{
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

}
.coupons{
    display:flex;
    flex-direction:column;
    background:#573822;
    margin-top:20px;
    line-height: 20px;
    padding:10px;
    max-width:135px;
    margin-left: auto;
    margin-right: auto;
    border-radius:15px
}
.coupons span:nth-child(1){
   font-size:16px;
   font-weight:700
}
.coupons span:nth-child(2){
   font-size:12px;
}
.coupons span:nth-child(3){
   font-size:10px;
}
